		<link rel="shortcut icon" href="{{ siteUrl }}assets/images/icons/favicon.ico" type="image/x-icon">
		<link rel="apple-touch-icon" href="{{ siteUrl }}assets/images/icons/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="57x57" href="{{ siteUrl }}assets/images/icons/apple-touch-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="72x72" href="{{ siteUrl }}assets/images/icons/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="{{ siteUrl }}assets/images/icons/apple-touch-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="{{ siteUrl }}assets/images/icons/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="{{ siteUrl }}assets/images/icons/apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="{{ siteUrl }}assets/images/icons/apple-touch-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="{{ siteUrl }}assets/images/icons/apple-touch-icon-152x152.png">
