		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		
		<meta name="title" content="">
		<meta name="description" content="">
		<meta name="author" content="">
		<meta name="copyright" content="Copyright (c) 2015">		
		<meta property="og:locale" content="en_US">
		<meta property="og:url" content="http://example.com">
		<meta property="og:title" content="">
		<meta property="og:description" content="">
		<meta property="og:type" content="website">
		<meta property="og:image" content="">
		<meta property="og:site_name" content="">
		<meta property="fb:admins" content="">
		<meta property="fb:app_id" content="">
		<meta name="twitter:url" content="http://www.example.com/">
		<meta name="twitter:card" content="summary">
		<meta name="twitter:creator" content="@https://twitter.com/example">
		<meta name="twitter:site" content="@example">
