		<!-- LIB ============================================================== -->
		<!-- Foundation 3 for IE 8 and earlier -->
		<!--[if lt IE 9]>
			<script src="{{ siteUrl }}assets/scripts/legacy/foundation-shim.js"></script>
			<script src="{{ siteUrl }}assets/scripts/legacy/foundation.min.js"></script>
			<script src="{{ siteUrl }}assets/scripts/legacy/app.js"></script>
		<![endif]-->

		<!-- Foundation 5.5.1 for IE 9 and later -->
		<!--[if gt IE 8]><!-->
		<script src="{{ siteUrl }}assets/scripts/foundation/foundation.min.js"></script>
		<script>
			if (!$('html').hasClass('lt-ie9')) {
				$(document).foundation();
			}
		</script>
		<!--<![endif]-->
		<!-- ================================================================== -->

		<!-- SCRIPTS ========================================================== -->
		<script src="{{ siteUrl }}assets/scripts/vendor.js"></script>
		<script src="{{ siteUrl }}assets/scripts/main.js"></script>
		<!-- ================================================================== -->

		<!-- ANALYTICS ======================================================== -->
		<script></script>
		<!-- ================================================================== -->
