		<!-- Foundation 3 for IE 8 and earlier -->
		<!--[if lt IE 9]>
			<script src="{{ siteUrl }}assets/scripts/legacy/modernizr.foundation.js"></script>		
			<script src="{{ siteUrl }}assets/scripts/legacy/jquery-1.9.0.min.js"></script>
		<![endif]-->

		<!-- Foundation 5 for IE 9 and later -->
		<!--[if gt IE 8]><!-->
		<script src="{{ siteUrl }}assets/scripts/vendor/modernizr.js"></script>		
		<script src="{{ siteUrl }}assets/scripts/vendor/jquery-2.1.1.min.js"></script>
		<!--<![endif]-->
