<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

	<head>	

		<title>Welcome | Your Site</title>

		<!-- META ============================================================= -->
		{% include 'partials/meta.html' %}

		<!-- ICONS ============================================================ -->
		{% include 'partials/icons.html' %}

		<!-- STYLESHEETS ====================================================== -->
		{% include 'partials/styles.html' %}
	
		<!-- SCRIPTS ========================================================== -->
		{% include 'partials/scripts-head.html' %}

	</head>

	<body>
		<div class="row">
			<div class="large-12 columns">
				<nav class="top-bar" data-topbar>
					<ul class="title-area">
						<!-- Title Area -->
						<li class="name">
							<h1>
								<a href="#">
									Top Bar Title
								</a>
							</h1>
						</li>
						<li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
					</ul>
			 
					<section class="top-bar-section">
						<!-- Right Nav Section -->
						<ul class="right">
							<li class="divider"></li>
							<li class="has-dropdown">
								<a href="#">Main Item 1</a>
								<ul class="dropdown">
									<li><label>Section Name</label></li>
									<li class="has-dropdown">
										<a href="#" class="">Has Dropdown, Level 1</a>
										<ul class="dropdown">
											<li><a href="#">Dropdown Options</a></li>
											<li><a href="#">Dropdown Options</a></li>
										</ul>
									</li>
									<li><a href="#">Dropdown Option</a></li>
									<li><a href="#">Dropdown Option</a></li>
									<li class="divider"></li>
									<li><a href="#">See all →</a></li>
								</ul>
							</li>
							<li class="divider"></li>
							<li><a href="#">Main Item 2</a></li>
							<li class="divider"></li>
							<li class="has-dropdown">
								<a href="#">Main Item 3</a>
								<ul class="dropdown">
									<li><a href="#">Dropdown Option</a></li>
									<li><a href="#">Dropdown Option</a></li>
									<li><a href="#">Dropdown Option</a></li>
								</ul>
							</li>
						</ul>
					</section>
				</nav>
			</div>
		</div>
		<!-- End Navigation -->

		{% block content %}
			<div class="row">
				<div class="large-9 columns">
					<p>Add some content!</p>
				</div>
			</div>
		{% endblock %}

		<!-- Footer -->
		<footer class="row">
			<div class="large-12 columns">
				<hr />
				<div class="row">
					<div class="large-6 columns">
						<p>© Copyright no one at all. Go to town.</p>
					</div>
					<div class="large-6 columns">
						<ul class="inline-list right">
							<li><a href="#">Link 1</a></li>
							<li><a href="#">Link 2</a></li>
							<li><a href="#">Link 3</a></li>
							<li><a href="#">Link 4</a></li>
						</ul>
					</div>
				</div>
			</div> 
		</footer>


		<!-- SCRIPTS ========================================================== -->
		{% include 'partials/scripts-footer.html' %}

	</body>
</html>
