{% extends '_layout.html' %}

{% block content %}

	<!-- Style Guide -->
	<div class="row" style="margin-top:30px;">
		<div class="large-9 columns">

			<h1 id="kitchen-sink">UI Toolkit</h1>
			<hr>


			<!-- Type -->
			<h4 id="type">Type</h4>
			<h1>h1. This is a very large header.</h1>
			<h2>h2. This is a large header.</h2>
			<h3>h3. This is a medium header.</h3>
			<h4>h4. This is a moderate header.</h4>
			<h5>h5. This is a small header.</h5>
			<h6>h6. This is a tiny header.</h6>
			<br>

			<h1 class="subheader">h1.subheader</h1>
			<h2 class="subheader">h2.subheader</h2>
			<h3 class="subheader">h3.subheader</h3>
			<h4 class="subheader">h4.subheader</h4>
			<h5 class="subheader">h5.subheader</h5>
			<h6 class="subheader">h6.subheader</h6>
			<hr>

			<dt>Definition List</dt>
			<dl>
				<dt>Definition Title</dt>
				<dd>Definition Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam id dolor id nibh ultricies vehicula ut id elit.</dd>

				<dt>Definition Title</dt>
				<dd>Definition Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam id dolor id nibh ultricies vehicula ut id elit.</dd>
			</dl>
			<hr>

			<h5>Un-ordered lists</h5>
			<ul class="disc">
				<li>List item</li>
				<li>List item</li>
				<li>List item
					<ul>
						<li>Nested List Item</li>
						<li>Nested List Item</li>
						<li>Nested List Item</li>
					</ul>
				</li>
			</ul>
			<hr>

			<h5>Ordered lists</h5>
			<ol>
				<li>List Item 1</li>
				<li>List Item 2</li>
				<li>List Item 3</li>
			</ol>
			<hr>

			<h5>Blockquote</h5>
			<blockquote>I do not fear computers. I fear the lack of them. Maecenas faucibus mollis interdum. Aenean lacinia bibendum nulla sed consectetur.<cite>Isaac Asimov</cite></blockquote>
			<hr>


			<!-- Breadcrumbs -->
			<h4 id="breadcrumbs">Breadcrumbs</h4>
			<ul class="breadcrumbs">
				<li><a href="#">Home</a></li>
				<li><a href="#">Features</a></li>
				<li class="unavailable"><a href="#">Gene Splicing</a></li>
				<li class="current"><a href="#">Cloning</a></li>
			</ul>
			<hr>


			<!-- Sub Nav -->
			<h4 id="sub-nav">Sub Nav</h4>
			<dl class="sub-nav">
				<dt>Filter:</dt>
				<dd class="active"><a href="#">All</a></dd>
				<dd><a href="#">Active</a></dd>
				<dd><a href="#">Pending</a></dd>
				<dd><a href="#">Suspended</a></dd>
			</dl>
			<hr>


			<!-- Alert Boxes -->
			<h4 id="alert-boxes">Alert Boxes</h4>
			<div data-alert class="alert-box radius">
				This is a standard alert (div.alert-box.radius).
				<a href="" class="close">&times;</a>
			</div>

			<div data-alert class="alert-box success">
				This is a success alert (div.alert-box.success).
				<a href="" class="close">&times;</a>
			</div>

			<div data-alert class="alert-box alert round">
				This is an alert (div.alert-box.alert.round).
				<a href="" class="close">&times;</a>
			</div>

			<div data-alert class="alert-box secondary">
				This is a secondary alert (div.alert-box.secondary).
				<a href="" class="close">&times;</a>
			</div>
			<hr>


			<!-- Buttons -->
			<div class="row">
				<div class="small-6 columns">
					<h4 id="buttons">Buttons</h4>
					<a href="#" class="small button">.small.button</a><br>
					<a href="#" class="button expand">.expand</a><br>
					<a href="#" class="small button success radius">.small.success.radius</a><br>
					<a href="#" class="button alert round disabled">.round.disabled</a><br>						
				</div>
				<div class="small-6 columns">
					<h4 id="button-groups">Button Groups</h4>
					<ul class="button-group">
						<li><a href="#" class="small button">Button 1</a></li>
						<li><a href="#" class="small button">Button 2</a></li>
						<li><a href="#" class="small button">Button 3</a></li>
					</ul>
					<ul class="button-group round even-3">
						<li><input type="submit" class="button success" value="Button 1"></li>
						<li><input type="submit" class="button success" value="Button 2"></li>
						<li><input type="submit" class="button success" value="Button 3"></li>
					</ul>

					<h4 id="split-buttons">Split Buttons</h4>
					<a href="#" class="small secondary radius button split">Split Button <span data-dropdown="drop"></span></a>	
					<ul id="drop" class="f-dropdown content" data-dropdown-content>
						<li><a href="#">This is a link</a></li>
						<li><a href="#">This is another</a></li>
						<li><a href="#">Yet another</a></li>
					</ul>	
				</div>
			</div>
			<hr>


			<!-- Dropdowns -->
			<h4 id="dropdowns">Dropdowns</h4>
			<p>
				<a class="button" data-dropdown="tinyDrop" href="#">Link Dropdown &raquo;</a>
				<a class="button" data-dropdown="contentDrop" href="#">Content Dropdown &raquo;</a>
			</p>

			<ul class="f-dropdown" data-dropdown-content="" id="tinyDrop">
				<li><a href="#">This is a link</a></li>
				<li><a href="#">This is another</a></li>
				<li><a href="#">Yet another</a></li>
			</ul>

			<div class="f-dropdown content medium" data-dropdown-content="" id=
			"contentDrop">
				<h4>Title</h4>
				<p>Some text that people will think is awesome! Some text that people will
				think is awesome! Some text that people will think is awesome!</p>
			</div>
			<hr>


			<!-- Clearing Gallery -->
			<h4 id="clearing">Orbit Slider</h4>
			<ul class="example-orbit" data-orbit>
			  <li>
				<img src="http://foundation.zurb.com/docs/assets/img/examples/earth.jpg" alt="slide 1" />
				<div class="orbit-caption">
				  Caption One.
				</div>
			  </li>
			  <li class="active">
				<img src="http://foundation.zurb.com/docs/assets/img/examples/earth.jpg" alt="slide 2" />
				<div class="orbit-caption">
				  Caption Two.
				</div>
			  </li>
			  <li>
				<img src="http://foundation.zurb.com/docs/assets/img/examples/earth.jpg" alt="slide 3" />
				<div class="orbit-caption">
				  Caption Three.
				</div>
			  </li>
			</ul>


			<!-- Clearing Gallery -->
			<h4 id="clearing">Clearing Lightbox</h4>
			<div>
				<ul class="clearing-thumbs" data-clearing>
					<li><a class="th" href="http://foundation.zurb.com/docs/assets/img/examples/earth.jpg"><img data-caption="Nulla vitae elit libero, a pharetra augue. Cras mattis consectetur purus sit amet fermentum." src="http://foundation.zurb.com/docs/assets/img/examples/earth-th-sm.jpg"></a></li>

					<li><a class="th" href="http://foundation.zurb.com/docs/assets/img/examples/earth.jpg"><img data-caption="Nulla vitae elit libero, a pharetra augue. Cras mattis consectetur purus sit amet fermentum." src="http://foundation.zurb.com/docs/assets/img/examples/earth-th-sm.jpg"></a></li>

					<li><a class="th" href="http://foundation.zurb.com/docs/assets/img/examples/earth.jpg"><img data-caption="Nulla vitae elit libero, a pharetra augue. Cras mattis consectetur purus sit amet fermentum." src="http://foundation.zurb.com/docs/assets/img/examples/earth-th-sm.jpg"></a></li>

					<li><a class="th" href="http://foundation.zurb.com/docs/assets/img/examples/earth.jpg"><img data-caption="Nulla vitae elit libero, a pharetra augue. Cras mattis consectetur purus sit amet fermentum." src="http://foundation.zurb.com/docs/assets/img/examples/earth-th-sm.jpg"></a></li>
				</ul>
			</div>
			<hr>


			<!-- Flex Video -->
			<h4 id="flex-video">Flex Video</h4>
			<div class="flex-video">
				<iframe width="420" height="315" src="http://www.youtube.com/embed/0_EW8aNgKlA" frameborder="0" allowfullscreen></iframe>
			</div>
			<hr>


			<!-- Forms -->
			<h4 id="forms">Forms</h4>
			<form>
				<fieldset>
					<legend>Fieldset</legend>

					<div class="row">
						<div class="large-12 columns">
							<label>Input Label</label>
							<input type="text" placeholder="large-12.columns">
						</div>
					</div>

					<div class="row">
						<div class="large-4 columns">
							<label>Input Label</label>
							<input type="text" placeholder="large-4.columns">
						</div>
						<div class="large-4 columns">
							<label>Input Label</label>
							<input type="text" placeholder="large-4.columns">
						</div>
						<div class="large-4 columns">
							<div class="row collapse">
								<label>Input Label</label>
								<div class="small-9 columns">
									<input type="text" placeholder="small-9.columns">
								</div>
								<div class="small-3 columns">
									<span class="postfix">.com</span>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="large-12 columns">
							<label>Textarea Label</label>
							<textarea placeholder="small-12.columns"></textarea>
						</div>
					</div>

				</fieldset>
			</form>
			<hr>


			<!-- Magellan -->
			<h4 id="magellan">Magellan</h4>
			<div data-magellan-expedition="fixed">
				<dl class="sub-nav">
					<dd data-magellan-arrival="build"><a href="#build">Build with HTML</a></dd>
					<dd data-magellan-arrival="js"><a href="#js">Using Javascript</a></dd>
				</dl>
			</div>

			<p><a name="build"></a></p>
			<p><h5 data-magellan-destination="build">Build With Predefined HTML Structure</h5></p>
			<p>Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Vestibulum id ligula porta felis euismod semper.</p>

			<p><a name="js"></a></p>
			<p><h5 data-magellan-destination="js">Awesome JS Goodness</h5></p>
			<p>Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Vestibulum id ligula porta felis euismod semper.</p>
			<hr>


			<!-- Panels -->
			<h4 id="panels">Panels</h4>
			<div class="row">
				<div class="large-6 columns">
					<div class="panel">
						<h5>This is a regular panel.</h5>
						<p>It has an easy to override visual style, and is appropriately subdued.</p>
					</div>
				</div>
				<div class="large-6 columns">
					<div class="panel callout radius">
						<h5>This is a callout panel with radiused edges.</h5>
						<p>It&#39;s a little ostentatious, but useful for important content.</p>
					</div>
				</div>
			</div>
			<hr>


			<!-- Modal Reveal -->
			<h4 id="reveal">Modal Reveal</h4>
			<p>
				<a href="#" data-reveal-id="firstModal" class="radius button">Example Modal&hellip;</a>
				<a href="#" data-reveal-id="videoModal" class="radius button">Example Modal w/Video&hellip;</a>
			</p>
			<!-- Reveal Modals begin -->
			<div id="firstModal" class="reveal-modal" data-reveal>
				<h2>This is a modal.</h2>
				<p>Reveal makes these very easy to summon and dismiss. The close button is simply an anchor with a unicode character icon and a class of <code>close-reveal-modal</code>. Clicking anywhere outside the modal will also dismiss it.</p>
			</div>
			<div id="videoModal" class="reveal-modal large" data-reveal>
				<h2>This modal has video</h2>
				<div class="flex-video">
					<iframe width="420" height="315" src="//www.youtube.com/embed/aiBt44rrslw" frameborder="0" allowfullscreen></iframe>
				</div>
				<a class="close-reveal-modal">&#215;</a>
			</div>
			<hr>


			<!-- Accordion -->
			<h4 id="accordion">Accordion</h4>
			<dl class="accordion" data-accordion>
				<dd>
					<a href="#panel1">Accordion 1</a>
					<div id="panel1" class="content active">
						Panel 1. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					</div>
				</dd>
				<dd>
					<a href="#panel2">Accordion 2</a>
					<div id="panel2" class="content">
						Panel 2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					</div>
				</dd>
				<dd>
					<a href="#panel3">Accordion 3</a>
					<div id="panel3" class="content">
						Panel 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					</div>
				</dd>
			</dl>
			<hr>


			<!-- Tabs-->
			<h4 id="tabs">Tabs</h4>
			<dl class="tabs" data-tab>
				<dd class="active"><a href="#panel2-1">Tab 1</a></dd>
				<dd><a href="#panel2-2">Tab 2</a></dd>
				<dd><a href="#panel2-3">Tab 3</a></dd>
				<dd><a href="#panel2-4">Tab 4</a></dd>
			</dl>
			<div class="tabs-content">
				<div class="content active" id="panel2-1">
					<p>First panel content goes here...</p>
				</div>
				<div class="content" id="panel2-2">
					<p>Second panel content goes here...</p>
				</div>
				<div class="content" id="panel2-3">
					<p>Third panel content goes here...</p>
				</div>
				<div class="content" id="panel2-4">
					<p>Fourth panel content goes here...</p>
				</div>
			</div>
			<hr>


			<!-- Tables -->
			<h4 id="tables">Tables</h4>
			<table>
				<thead>
					<tr>
						<th width="200">Table Header</th>
						<th>Table Header</th>
						<th width="150">Table Header</th>
						<th width="150">Table Header</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Content Goes Here</td>
						<td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
						<td>Content Goes Here</td>
						<td>Content Goes Here</td>
					</tr>
					<tr>
						<td>Content Goes Here</td>
						<td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
						<td>Content Goes Here</td>
						<td>Content Goes Here</td>
					</tr>
					<tr>
						<td>Content Goes Here</td>
						<td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
						<td>Content Goes Here</td>
						<td>Content Goes Here</td>
					</tr>
				</tbody>
			</table>
			<hr>


			<!-- Visibility Classes -->
			<h4 id="visibility-classes">Visibility Classes</h4>
			<h5 id="screen-size-visibility-control-show-">Screen Size Visibility Control (Show)</h5>
			<p>The following text should describe the screen size you&#39;re using:</p>
			<p class="panel">
				<strong class="show-for-small">You are on a small screen.</strong>
				<strong class="show-for-medium">You are on a medium screen.</strong>
				<strong class="show-for-medium-up">You are on a medium, large or xlarge screen.</strong>
				<strong class="show-for-medium-down">You are on a medium or small screen.</strong>
				<strong class="show-for-large">You are on a large screen.</strong>
				<strong class="show-for-large-up">You are on a large or xlarge screen.</strong>
				<strong class="show-for-large-down">You are on a large, medium or small screen.</strong>
				<strong class="show-for-xlarge">You are on a xlarge screen.</strong>
			</p>

			<!-- Screen Size Visibility Control -->
			<h5 id="screen-size-visibility-control-hide-">Screen Size Visibility Control (Hide)</h5>
			<p>The following text should describe the screen size you aren&#39;t using:</p>
			<p class="panel">
				<strong class="hide-for-small">You are <em>not</em> on a small screen.</strong>
				<strong class="hide-for-medium">You are <em>not</em> on a medium screen.</strong>
				<strong class="hide-for-medium-up">You are <em>not</em> on a medium, large or xlarge screen.</strong>
				<strong class="hide-for-medium-down">You are <em>not</em> on a medium or small screen.</strong>
				<strong class="hide-for-large">You are <em>not</em> on a large screen.</strong>
				<strong class="hide-for-large-up">You are <em>not</em> on a large or xlarge screen.</strong>
				<strong class="hide-for-large-down">You are <em>not</em> on a large, medium or small screen.</strong>
				<strong class="hide-for-xlarge">You are <em>not</em> on a xlarge screen.</strong>
			</p>

			<!-- Orientation Detection -->
			<h5 id="orientation-detection">Orientation Detection</h5>
			<p>The following text should describe the device orientation you&#39;re using:</p>
			<p class="panel">
				<strong class="show-for-landscape">You are in landscape orientation.</strong>
				<strong class="show-for-portrait">You are in portrait orientation.</strong>
			</p>

			<!-- Touch Detection -->
			<h5 id="touch-detection">Touch Detection</h5>
			<p>The following text should describe if you&#39;re using a touch device:</p>
			<p class="panel">
				<strong class="show-for-touch">You are on a touch-enabled device.</strong>
				<strong class="hide-for-touch">You are not on a touch-enabled device.</strong>
			</p>
		
		</div>


		<!-- Sidebar -->
		<div class="large-3 columns">
			<!-- Side Nav -->
			<h4 id="side-nav">Side Nav</h4>
			<div class="row">
				<div class="large-4 columns end">
					<ul class="side-nav">
						<li class="active"><a href="#">Link 1</a></li>
						<li><a href="#">Link 2</a></li>
						<li><a href="#">Link 3</a></li>
						<li><a href="#">Link 4</a></li>
					</ul>
				</div>
			</div>	
		</div>
	</div>

{% endblock %}
