{% extends '_layout.html' %}

{% block content %}

	<!-- Orbit Slider -->
	<div class="row">
		<div class="large-12 columns">
			<ul id="featured1" data-orbit data-options="timer_speed:5000;">
				<li>
					<img src="http://foundation.zurb.com/docs/assets/img/examples/satelite-orbit.jpg" />
					<div class="orbit-caption">
						Caption One. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
					</div>
				</li>
				<li>
					<img src="http://foundation.zurb.com/docs/assets/img/examples/andromeda-orbit.jpg" />
					<div class="orbit-caption">
						Caption Two. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
					</div>
				</li>
				<li>
					<img src="http://foundation.zurb.com/docs/assets/img/examples/launch-orbit.jpg" />
					<div class="orbit-caption">
						Caption Three. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
					</div>
				</li>
			</ul>
		</div>
	</div>
	

	<!-- Three-up Content Blocks -->
	<div class="row">
		<div class="large-4 columns">
			<img src="http://placehold.it/400x300&amp;text=[img]" />
			<h4>This is a content section.</h4>
			<p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
		</div>
		
		<div class="large-4 columns">
			<img src="http://placehold.it/400x300&amp;text=[img]" />
			<h4>This is a content section.</h4>
			<p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
		</div>
		
		<div class="large-4 columns">
			<img src="http://placehold.it/400x300&amp;text=[img]" />
			<h4>This is a content section.</h4>
			<p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
		</div>

		<hr />
	</div>


	<!-- Panel -->
	<div class="row">
		<div class="large-12 columns">
			<div class="panel">
				<h5>This is a regular panel.</h5>
				<p>It has an easy to override visual style, and is appropriately subdued.</p>
			</div>
		</div>
	</div>

{% endblock %}
